footer {
  height: 370px;
  padding: 32px 65px;
  background-color: #1b1529;
  .footer-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    position: relative;
    &::after {
      content: "";
      height: 20px;
      width: 3px;
      background-color: #5577ff;
      left: -10px;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
/* 기본 컨테이너 스타일 */
.career-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 숨겨진 라디오 버튼 */
.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 라벨 기본 스타일 */
.radio-label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #646464;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 라디오 버튼 선택 시 라벨 스타일 변경 */
.radio-input:checked + .radio-label {
  background-color: #6a0dad; /* 체크 시 배경색 */
  color: #ffffff; /* 체크 시 글자색 */
  border-color: #6a0dad; /* 체크 시 테두리색 */
}
